.Cards {
    display: flex;
    gap: 10px;
    background-color: #0090D4;

  }
  .Card-container{
    width: 80%;
  }
  
  @media screen and (max-width: 1200px) {
    .Cards{
      flex-direction: column;
    }
    .Card-container{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  }