.MuiTableRow-root > * {
  padding: 20px;
}

.MuiTableRow-root {
  /* Remove border for each row */
}

.MuiTableRow-root.MuiTableRow-head > * {
  font-weight: bold !important;
}

.Table td,
.Table th {
  border: 1px solid #f2f2f2; /* Add a very light border to each column */
  padding: 20px;
}

.Table:first-child {
  border-radius: 0.7rem !important;
}

.status {
  padding: 8px;
  border-radius: 9px;
}

.Details {
  color: #00b5ff !important;
}

/* Apply gray background to even rows */
.MuiTableRow-root:nth-child(even) {
  background-color: rgb(249 250 251);
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .Table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
}
